<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <p class="lead text-right">
        Only $199
        <a href="#try" class="btn btn-primary reserve upcase">Reserve your seat</a>
      </p>
    </div>
  </div>
</div>

<div class="jumbotron text-right">
  <div class="container">
    <h1>Lean Startup in the Enterprise</h1>
    <p>You Don't Have to be a Startup to Innovate Like One</p>

    <p class="upcase location">San Francisco, CA</p>
    <p class="date upcase">June 6, 2013  |  8:30AM - 4:30PM</p>
    <a href="#try" class="btn btn-primary btn-large reserve upcase">Reserve your seat</a>
  </div>
</div>

<div class="container">
  <p>Think Lean Startup is just for startups? Think again! Every business, large and small, can leverage the power of Lean Startup, business model generation, and agile concepts.</p>

  <p>In this free, one-day event, you’ll receive tips, tools, tricks and a ton of hands-on experience in applying experiment-driven design to any product development effort, business-to-business or business-to-consumer. Discover how even small steps can yield amazing breakthroughs.</p>

  <h2>What you will learn</h2>
  <p>
    Thanks to your agile delivery teams, you know your organization can build it. The question now is, should you build it? Lean Startup and business model generation concepts will help you find the answers, giving you a competitive advantage that’s so good, it’s almost unfair!
  </p>
  <p>
    You’ve read the book, you've heard the buzz - it's time to get started. This free workshop from BigVisible will provide you with the tangible skills you need to leverage the full power of agile, lean startup, and business model generation in the enterprise.
  </p>

  <h2>Who this is for</h2>
  <ul>
    <li>Product Managers</li>
    <li>Business Stakeholders</li>
    <li>Interaction Designers</li>
    <li>Intrapreneurs</li>
    <li>Cutting-Edge Leaderss</li>
  </ul>

  <p>
    We'll give you a real glimpse into how some of the largest organizations in the world are embracing the breakthrough power of Lean Startup in the Enterprise.
  </p>

  <h2>Where</h2>

  <address>
    <strong>Twitter, Inc.</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>

</div>
