<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <p class="lead text-right">
        Only $<span class="workshop-cost">50</span>
        <a href="#try" class="btn btn-primary reserve upcase">Reserve your seat</a>
      </p>
    </div>
  </div>
</div>

<div class="jumbotron text-right">
  <h1>Your Workshop Title Here</h1>
  <p>Your Workshop Tagline Here</p>

  <p class="upcase location">Your Location Name</p>
  <p class="date upcase">Your Workshop Date | Your Workshop Time</p>
  <a href="#try" class="btn btn-primary btn-large reserve upcase">Reserve your seat</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Your description here. Tell people a little about the workshop.</p>

      <h2>What you will learn</h2>
      <p>
        Help motivate people to take your course by telling them a little about what they will learn in the course.
      </p>

      <h2>Who this is for</h2>
      <ul>
        <li>Your target audience goes here</li>
      </ul>

      <h2>Where</h2>

      <address>
        <strong>Your Location Name</strong><br>
        Your Location Street Address<br>
        Your Location City, State and Zip Code<br>
        <abbr title="Phone">P:</abbr>Your Phone Number
      </address>

    </div>
  </div>

</div>
