---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: US-ASCII
      string: amount=14000&currency=usd&recipient=rp_2FUrV5Zn4ILgfo&statement_descriptor=Ruby%20Fundamentals
    headers:
      authorization:
      - Bearer sk_test_xlf81Tc7EFDDps6VCBue3N2d
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tr_2FUwJSkbFtQhDY\",\n  \"object\": \"transfer\",\n
        \ \"date\": 1374563456,\n  \"livemode\": false,\n  \"amount\": 14000,\n  \"currency\":
        \"usd\",\n  \"status\": \"pending\",\n  \"fee\": 25,\n  \"fee_details\": [\n
        \   {\n      \"amount\": 25,\n      \"currency\": \"usd\",\n      \"type\":
        \"stripe_fee\",\n      \"description\": \"Stripe processing fees\",\n      \"application\":
        null\n    }\n  ],\n  \"account\": {\n    \"object\": \"bank_account\",\n    \"bank_name\":
        \"STRIPE TEST BANK\",\n    \"last4\": \"6789\",\n    \"country\": \"US\",\n
        \   \"validated\": false,\n    \"fingerprint\": \"YF4diEg98Ji8d7n2\"\n  },\n
        \ \"description\": null,\n  \"statement_descriptor\": \"Ruby Fundamentals\",\n
        \ \"recipient\": \"rp_2FUrV5Zn4ILgfo\"\n}\n"
  recorded_at: Tue, 23 Jul 2013 07:11:01 GMT
recorded_with: VCR 2.5.0
