---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=user1%40example.com
    headers:
      Authorization:
      - Bearer sk_test_xlf81Tc7EFDDps6VCBue3N2d
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1386843667,
          "id": "cus_36k4nGfqRDN5LH",
          "livemode": false,
          "description": "user1@example.com",
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscription": null,
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 0,
            "url": "/v1/customers/cus_36k4nGfqRDN5LH/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Thu, 12 Dec 2013 10:21:06 GMT
recorded_with: VCR 2.8.0
