- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-dismissable alert-#{name != :success ? "danger" : "success"}"}
      %button.close{type: "button", "aria-hidden" => "true", "data-dismiss" => "alert"} &times;
      = content_tag :div, msg, :id => "flash_#{name}"
