<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <p class="lead text-right">
        <a href="/workshops/new" class="btn btn-primary">Try it out!</a>
      </p>
    </div>
  </div>
</div>

<div class="jumbotron front-page text-right">
  <div class="container">
    <h1>Symposia</h1>
    <p>You teach it.  We host it.</p>
    <%= link_to 'Try it out!', new_course_path, :class => 'btn btn-primary btn-large' %>
  </div>
</div>
