- content_for :navigation do
  // nothing

#welcome
  .head
    .top-bar.container
      %a.btn.btn-transparent Sign in

    .container
      %h1 You teach
      %h2 We manage everything about it.

      %a.btn.btn-transparent.large
        Teach a course
        %i.icon-chevron-right