- content_for :navigation do
  // nothing

#welcome
  .head
    .top-bar.container
      %a.sign-in.btn.btn-transparent Sign in

    .about.container
      %h1 You teach
      %h2 We manage everything about it.

      %a.btn.btn-transparent.large
        Teach a course
        %i.icon-chevron-right

    .sign-in.container.hidden
      = simple_form_for :user, url: session_path(:user), html: {class: 'form transparent'} do |f|
        %h2 Sign in

        = f.input :email, required: false, autofocus: true, label: 'E-mail:', input_html: {autocomplete: 'off'}
        = f.input :password, :required => false, label: 'Password:'
        = f.button :submit, "Sign in", class: 'btn btn-transparent'


      

  .features.container

:coffeescript
  new Welcome(el: '#welcome')