- content_for :navigation do
  // nothing

#welcome
  .head
    .top-bar.container
      %a.sign-in.btn.btn-transparent Sign in

    .about.container
      %h1 You teach
      %h2 We manage everything about it.

      %a.btn.btn-transparent.large
        Teach a course
        %i.icon-chevron-right

    .sign-in.container.hidden
      = simple_form_for :user, url: session_path(:user), html: {class: 'form transparent'} do |f|
        %h2 Sign in

        = f.input :email, required: false, autofocus: true, label: 'E-mail:', input_html: {autocomplete: 'off'}
        = f.input :password, :required => false, label: 'Password:'
        = f.button :submit, "Sign in", class: 'btn btn-transparent'

    .spinner.hidden
      

  .how-works.container
    %h3
      Enroll is a platform for teaching courses.
      %br/
      We focus on the details.

    .diagram.row
      .part.col-sm-3
        .icon.build
        %span Build a beautiful course page. Without being a designer.
      .part.col-sm-3
        .icon.share
        %span Get the word out. Get signups. Easy.
      .part.col-sm-3
        .icon.signup
        %span We handle ticketing and payment. So you don't have to.
      .part.col-sm-3
        .icon.teach
        %span You teach. We took care of the rest. Good for us.

:coffeescript
  new Welcome(el: '#welcome')