- courses.each do |course|
  %li
    %strong
      %i.icon-briefcase
      = course.name
      - if course.draft?
        %span.label.label-warning.mini.caps.inverted Draft
      - else
        %span.label.label-success.mini.caps Live
    .actions
      = yield(course)
    %br/
    - if course.starts_at
      %em= course.starts_at.strftime("%B %e, %Y")
    - else
      %em Time not set

- if courses.empty?
  %li.empty
    No courses!

