- courses.each do |course|
  %li
    %strong
      %i.icon-briefcase
      = course.name
    .actions
      = link_to "#{link_label} &rsaquo;".html_safe, dashboard_course_path(course), :class => 'btn btn-primary small'
    %br/
    %em= course.starts_at.strftime("%B %e, %Y")

- if courses.empty?
  %li.empty
    No courses!