- courses.each do |course|
  %li
    %strong
      %i.icon-briefcase
      = course.name
    .actions
      = yield(course)
    %br/
    %em= course.starts_at.strftime("%B %e, %Y")

- if courses.empty?
  %li.empty
    No courses!