.course-pricing
  .form-section
    %h2 Pricing

    - if form.object.draft?
      %small
        .btn-group{"data-toggle" => "buttons"}
          %label#for-profit.btn.btn-info.active
            %input#for-profit{name: "options", type: "radio"}/
            Paid
          %label#for-fun.btn.btn-info
            %input#for-fun{name: "options", type: "radio"}/
            Free
    %table
      = form.input :min_seats, label: '"Worth it" # of Seats', wrapper: 'pricing-block', hint: "If fewer than this number of people sign up, you're not on the hook to teach. <span class='seats-help' data-toggle='tooltip'> What's this mean?</span>", disabled: form.object.published?
      = form.input :max_seats, label: 'Maximum # of Seats', wrapper: 'pricing-block', hint: "The most people you can fit in the room, or the most you want to teach to."
      = form.input :price_per_seat_in_dollars, label: 'Cost per Seat', wrapper: 'pricing-block', disabled: form.object.published?

  #revenue-calculator.well.form-section
    %table.table.text-right
      %thead
        %tr
          %th
          %th  
          %th.text-right Minimum
          %th
          %th.text-right Maximum
      %tbody
        %tr
          %td Tickets Sold
          %td  
          %td
            %span.min-seats 5
          %td
          %td
            %span.max-seats 15
        %tr
          %td Ticket Price
          %td  
          %td
            %span.pull-left ×
            %span.ticket-price $199
          %td
          %td
            %span.pull-left ×
            %span.ticket-price $199
        %tr
          %td Revenue
          %td  
          %td.border-top
            %strong
              %span.min-seat-revenue $995
          %td  
          %td.border-top
            %strong
              %span.max-seat-revenue $2,985

  :coffeescript
    new CoursePricing(el: '.course-pricing', isFree: #{form.object.free?})
    $('.seats-help').tooltip({
      placement: "bottom",
      title: 'You will have up to one week before the course is held to sign up the minimum number of seats or the course will not be run.  If you want run the course no matter what, set the "Worth It" number to 0.'
    })
