%h2 Landing page

.form-group.wide
  %p.help-block
    Enter text you would like on your landing page. Use the # symbol to mark headings.
  .controls
    = form.input_field :description, label: 'Page', class: 'large'