.container.course-dashboard
  %h1.tc.offset My courses

  .row
    - unless @courses_teaching.empty?
      %div{class: @courses_studying.empty? ? 'col-sm-12' : 'col-sm-6'}
        %ul.item-list.teaching
          %li.header
            %strong Teaching
            .actions
              %a.btn.btn-primary{:href => new_dashboard_course_path}
                %i.icon-circled-plus
                Create
          = yrender "courses_list", courses: @courses_teaching do |course|
            = link_to "Manage &rsaquo;".html_safe, dashboard_course_path(course), :class => 'btn btn-primary small inverted'

    :coffeescript
      new ClickableList(el: '.item-list.teaching')

    - unless @courses_studying.empty?
      %div{class: @courses_teaching.empty? ? 'col-sm-12' : 'col-sm-6'}
        %ul.item-list.attending
          %li.header
            %strong Attending
          = yrender "courses_list", courses: @courses_studying do |course|
            = link_to "Open &rsaquo;".html_safe, student_course_path(course), :class => 'btn btn-primary small'

    - if @courses_teaching.empty?
      .tc.actions
        %p Why not teach a course?
        %a.btn.btn-primary.btn-large{href: new_dashboard_course_path} Teach a course

      :coffeescript
        new ClickableList(el: '.item-list.attending')