.container
  %h1 My Courses

  %ul.course-list
    %li.header
      %strong Teaching
      .actions
        %a{:href => '#'}
          %i.icon-circled-plus
          Create
    - @courses_teaching.each do |course|
      %li
        %strong
          %i.icon-briefcase
          = course.name
        .actions
          = link_to 'Manage &rsaquo;'.html_safe, dashboard_course_path(course), :class => 'btn btn-primary small'

/ .container
/   %h2 Courses I'm Attending

/   %table.table
/     %tbody
/       = render partial: 'course_table_listing', collection: @courses.future, as: :course, locals: {future: true}

/   %h2 Courses I Attended

/   %table.table
/     %tbody
/       = render partial: 'course_table_listing', collection: @courses.past, as: :course, locals: {future: false}

