.container
  %h1 My Courses

  .row
    .col-sm-6
      %ul.course-list
        %li.header
          %strong Teaching
          .actions
            %a{:href => new_course_path}
              %i.icon-circled-plus
              Create
        = render "courses_list", courses: @courses_teaching, link_label: 'Manage'

    .col-sm-6
      %ul.course-list
        %li.header
          %strong Attending
          .actions
            %a{:href => '#'}
              %i.icon-network
              Browse
        = render "courses_list", courses: @courses_studying, link_label: 'Open'