<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <p class="lead text-right">
        Only $<span class="workshop-cost">50</span>
        <a href="#try" class="btn btn-primary reserve upcase">Reserve your seat</a>
      </p>
    </div>
  </div>
</div>

<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="jumbotron text-right">
    <h1>
      <span class="workshop-title editable right edit-ready">
        <%= f.input(:name, input_html: { class: 'workshop-input' }, label: 'Your workshop title here') %>
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-ok"></span>
      </span>
    </h1>

    <p>
      <span class="workshop-tagline editable right edit-ready">
        <span class="content">Your Workshop Tagline Here</span>
        <span class="glyphicon glyphicon-pencil"></span>

        <input class="workshop-input" type="text" placeholder="Your workshop tagline here">
        <span class="glyphicon glyphicon-ok"></span>
      </span>
    </p>

    <p class="upcase location">
      <span class="workshop-location editable right edit-ready">
        <span class="content">Your location here</span>
        <span class="glyphicon glyphicon-pencil"></span>

        <input class="workshop-input" type="text" placeholder="Your location here">
        <span class="glyphicon glyphicon-ok"></span>
      </span>
    </p>

    <p class="upcase date-and-time">
      <span class="workshop-date editable right edit-ready">
        <span class="content">Your Workshop Date</span>
        <span class="glyphicon glyphicon-pencil"></span>

        <input class="workshop-input" type="text" placeholder="Your Workshop Date">
        <span class="glyphicon glyphicon-ok"></span>
      </span> 
      &nbsp;| 
      <span class="workshop-time editable right edit-ready">
        <span class="content">Your Workshop Time</span>
        <span class="glyphicon glyphicon-pencil"></span>

        <input class="workshop-input" type="text" placeholder="Your Workshop Time">
        <span class="glyphicon glyphicon-ok"></span>
      </span> 
    </p>

    <a href="#try" class="btn btn-primary btn-large reserve upcase">Reserve your seat</a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          <span class="workshop-description editable edit-ready">
            <span class="content">Your description here. Tell people a little about the workshop.</span>
            <span class="glyphicon glyphicon-pencil"></span>

            <textarea class="workshop-input" rows="3" placeholder="Your description here"></textarea>
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        </p>

        <h2>What you will learn</h2>
        <p>
          <span class="workshop-motivation editable edit-ready">
            <span class="content">
              Help motivate people to take your course by telling them a little about what they will learn in the course.
            </span>
            <span class="glyphicon glyphicon-pencil"></span>

            <textarea class="workshop-input" rows="3" placeholder="Tell people what they will learn"></textarea>
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        </p>

        <h2>Who this is for</h2>
        <p>
          <span class="workshop-who editable edit-ready">
            <span class="content">Your target audience goes here</span>
            <span class="glyphicon glyphicon-pencil"></span>

            <textarea class="workshop-input" rows="3" placeholder="Your target audience goes here"></textarea>
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        </p>

        <h2>Where</h2>

        <address>
          <span class="workshop-location-name editable edit-ready">
            <strong>
              <span class="content"> Your Location Name</span>
            </strong>
            <span class="glyphicon glyphicon-pencil"></span>

            <input type="text" class="workshop-input" placeholder="Your Location Name">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <br>
          <span class="workshop-location-street-address editable edit-ready">
            <span class="content">
              Your Location Street Address
            </span>
            <span class="glyphicon glyphicon-pencil"></span>

            <input type="text" class="workshop-input" placeholder="Your Location Street Address">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <br>
          <span class="workshop-location-city editable edit-ready">
            <span class="content">Your Location City</span>,
            <span class="glyphicon glyphicon-pencil"></span>

            <input type="text" class="workshop-input" placeholder="Your Location City">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <span class="workshop-location-state editable edit-ready">
            <span class="content">
              State
            </span>
            <span class="glyphicon glyphicon-pencil"></span>

            <input type="text" class="workshop-input" placeholder="Your Location State">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <span class="workshop-location-zip-code editable edit-ready">
            <span class="content">
              Zip Code
            </span>
            <span class="glyphicon glyphicon-pencil"></span>

            <input type="text" class="workshop-input" placeholder="Your Location Zip Code">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
          <br>
          <span class="workshop-location-phone editable edit-ready">
            <abbr title="Phone">P:</abbr>
            <span class="content">
              Your Phone Number
            </span>
            <span class="glyphicon glyphicon-pencil"></span>

            <input type="text" class="workshop-input" placeholder="Your Phone Number">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        </address>

      </div>
    </div>

  </div>

  <div class="row-fluid completion">
    <div class="container">
      <div class="row">
        <div class="col col-lg-10 col-sm-12 col-offset-1"</div>
          <h3 class="thats-it text-center"><span class="glyphicon glyphicon-thumbs-up"></span> And that's it!</h3>

          <p class="text-center">You just created a workshop.  What you see above is what potential students will see.</p>

          <p class="text-center"><em>You're almost there!</em>&nbsp; Just a few more steps and you'll be hosting your own workshop.</p>
          <br>
          <br>
          <div class="row calculate">
            <div class="col col-lg-2 col-sm-2 col-offset-2">
              <input id="input-seats" class="input-large" type="text" value="15">
            </div>

            <div class="col col-lg-1 col-sm-2">
              <label class="seats" for="input-seats">seats</label>
            </div>
            <div class="col col-lg-2 col-sm-2 text-center">
              <span class="glyphicon glyphicon-remove times"></span> 
              <span class="dollar">$</span>
            </div>
            <div class="col col-lg-2 col-sm-2">
              <input id="input-cost" class="input-large" type="text" value="50"> 
            </div>
            <div class="col col-lg-3 col-sm-3">
              = <span id="revenue">$750</span>
            </div>
          </div>

          <br>
          <br>
          <div class="row text-center">
            <%= f.button(:submit, 'Host Your Workshop', class: 'btn btn-primary btn-large upcase') %>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
<% end %>
