- content_for :head do
  = facebook_og_meta_tags(@course)

.container.landing-page
  = render 'courses/course_landing_header'

  .course-content.row
    - if @course.instructor == current_user && @course.draft?
      .alert.alert-warning
        %i.icon.icon-pencil
        Course is in the draft mode. This page is public, but people can't sign up until you publish it.

        %a.btn.pull-right{href: review_dashboard_course_path(@course)} Publish

    .col-sm-8
      %p!= @markdown.render(@course.description || "")
    .course-sidebar.col-sm-4
      = render 'courses/course_landing_sidebar', enroll_button: true