- content_for :head do
  = facebook_og_meta_tags(@course)

.container.landing-page
  = render 'courses/course_landing_header'

  .course-content.row
    - if !@preview && @course.instructor == current_user && @course.draft?
      .alert.alert-warning
        %a.btn.pull-right{href: review_dashboard_course_path(@course)} Publish
        %div
          %i.icon.icon-pencil
          Draft mode: This page is publicly viewable, but no one can enroll until you publish it.

    .col-sm-8
      %p!= @markdown.render(@course.description || "")
    .course-sidebar.col-sm-4
      = render 'courses/course_landing_sidebar', enroll_button: true