---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/transfers
    body:
      encoding: US-ASCII
      string: amount=14000&currency=usd&recipient=rp_2FUrV5Zn4ILgfo&statement_descriptor=Ruby%20Fundamentals
    headers:
      Authorization:
      - Bearer sk_test_xlf81Tc7EFDDps6VCBue3N2d
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tr_30R66cgQez9wiM",
          "object": "transfer",
          "date": 1385389272,
          "livemode": false,
          "amount": 14000,
          "currency": "usd",
          "status": "pending",
          "balance_transaction": "txn_30R6FwxC7RV3zg",
          "account": {
            "object": "bank_account",
            "id": "ba_2FUrVq95xPgHX7",
            "bank_name": "STRIPE TEST BANK",
            "last4": "6789",
            "country": "US",
            "currency": "usd",
            "validated": false,
            "verified": false,
            "fingerprint": "YF4diEg98Ji8d7n2"
          },
          "description": null,
          "metadata": {},
          "statement_descriptor": "Ruby Fundamentals",
          "recipient": "rp_2FUrV5Zn4ILgfo"
        }
  recorded_at: Mon, 25 Nov 2013 14:21:13 GMT
recorded_with: VCR 2.5.0
