%p
  Get ready to learn!

%p
  You've enrolled in 
  = link_to @course.name, @course
  = "."

%p
  The course is coming up on
  = @course.starts_at.to_s
  = "."

%p
  All the best!
  %br
  Team Enroll
