.container.landing-page
  .course-header
    .course-title
      h2= course.name
      .row
        .col-sm-6
          em.location
            i.icon-map
        .col-sm-6
          em.date
            i.icon-calendar

  .course-content
    .tc
      .spinner