---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2014&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_xlf81Tc7EFDDps6VCBue3N2d
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_2jcE2dhvTzbrBH",
          "livemode": false,
          "created": 1381509752,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_2jcEtlcbNYCmAz",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 10,
            "exp_year": 2014,
            "fingerprint": "FNS1LTkNkYeLDNsM",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Fri, 11 Oct 2013 16:42:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_2jcE2dhvTzbrBH
    headers:
      Authorization:
      - Bearer sk_test_xlf81Tc7EFDDps6VCBue3N2d
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1381509753,
          "id": "cus_2jcEyeENztSbCW",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscription": null,
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_2jcEyeENztSbCW/cards",
            "data": [
              {
                "id": "card_2jcEtlcbNYCmAz",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 10,
                "exp_year": 2014,
                "fingerprint": "FNS1LTkNkYeLDNsM",
                "customer": "cus_2jcEyeENztSbCW",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_2jcEtlcbNYCmAz"
        }
  recorded_at: Fri, 11 Oct 2013 16:42:34 GMT
recorded_with: VCR 2.6.0
