$dark-border: rgba(255,255,255,0.05);
$light-border: rgba(255,255,255,0.35);
$darkest-gray: #1c1c1c;
$dark-gray: #232323;
$light-gray: #EBE7DF;
$dark-green: #1a664a;
$light-green: #1F7F5C;
$dark-red: #B75654;
$light-red: #E56C69;
$dark-yellow: #AF845A;
$light-yellow: #DBA571;
$dark-blue: #487B86;
$light-blue: #5A9AA8;
$bright-blue: #0C8AC8;
$dark-turquoise: #204246;
$light-turquoise: #28545B;
$dark-purple: #554870;
$light-purple: #6A5A8C;
$dark-lilac: #704A61;
$light-lilac: #8C5D79;


$primary1: #4280c6; // Default primary color
$primary2: #3970af; // Little darker than primary1
$text1: #171717;
$gray-medium: #c7c7c7;
$gray-light: #e8e8e8;
$gray-dark: #424242;