@import '_mixins';
@import '_colors';
@import 'twitter/bootstrap/_mixins';

@mixin inner-shadow {
  @include box-shadow(inset 0 1px 3px rgba(0,0,0,.2));
}

form.form {
  $input-padding-sides: 8px;
  $label-width: 100px;
  $label-margin: 15px;

  label {
    float: left;
    width: $label-width;
    font-size: 11px;
    font-weight: 500;
    text-align: right;
    color: $gray-medium;
    padding-top: 8px;
  }

  .controls {
    margin-left: $label-width + $label-margin;
  }

  .form-control {
    @include border-radius(0);
    border: 1px solid $gray-medium;
    @include inner-shadow();
    padding: 15px $input-padding-sides;
    color: $text1;
    font-weight: 500;

    &:focus {
      border: 1px solid $gray-medium;
      @include inner-shadow();
    }
  }

  textarea.form-control {
    font-weight: normal;
    padding: 7px $input-padding-sides;
    font-size: 12px;
  }

  abbr[title] {
    border-bottom: none;
    color: $primary1;
  }

  .actions {
    margin-left: $label-width + $label-margin;

    .btn {
      padding: 15px 25px;
    }
  }
}