@import '_mixins';
@import '_colors';
@import 'bootstrap/mixins';

@mixin inner-shadow {
  @include box-shadow(inset 0 1px 3px rgba(0,0,0,.2));
}

form.form {
  $input-padding-sides: 8px;
  $label-width: 120px;
  $label-margin: 15px;
  $label-total-width: $label-width + $label-margin;
  $max-width: 600px;
  $font-size: 14px;

  max-width: $max-width;

  label {
    font-size: 13px;
    font-weight: 500;
  }

  label.control-label {
    float: left;
    width: $label-width;
    text-align: right;
    padding-top: 8px;
    color: $gray-dark;
  }

  .controls {
    margin-left: $label-total-width;
    position: relative;
  }

  .form-control {
    @include border-radius(0);
    border: 1px solid $gray-medium;
    @include inner-shadow();
    padding: 7px $input-padding-sides;
    color: $text1;
    font-weight: 500;
    font-size: $font-size;
    height: auto;
    background: transparent;
    background: rgba(255, 255, 255, 0.5);

    &:focus {
      border: 1px solid $gray-medium;
      @include inner-shadow();
    }

    &.small {
      width: 120px;
    }

    &.medium {
      width: 220px;
    }

    &.mini {
      width: 80px;
      font-size: 13px;
      display: inline-block;
    }

    &.inline {
      display: inline-block;
    }

    &.numeric {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &.large {
      height: 300px;
    }


    &.disabled {
      color: $gray-medium;
      background: $gray-light-light;
    }

    &::-webkit-input-placeholder {
      font-weight: 300;
      color: $gray-medium-light;
    }
  }

  textarea.form-control {
    font-weight: normal;
    padding: 7px $input-padding-sides;
    font-size: 13px;

    &.large {
      height: 200px !important;
    }
  }

  abbr[title] {
    border-bottom: none;
    color: $primary1;
  }

  .form-actions {
    margin-left: $label-total-width;
    margin-top: 20px;
  }

  .extra-actions {
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: 2px;
  }

  span.help-block {
    font-size: 11px;
  }

  h2 {
    padding-bottom: 5px;
  }

  h1.offset, h2.offset {
    text-align: left;
    padding-left: $label-total-width;
    padding-bottom: 7px;
  }

  // Errors

  p.help-block {
    font-size: 12px;
  }

  .form-group.has-error {
    // padding-bottom: 15px;
  }

  span.text-danger {
    background: $error;
    color: #fff;
    font-size: 12px;
    position: absolute;
    padding: 2px 5px;
    top: 30px;
    left: -4px;
    z-index: 10;
    @include border-radius(3px);

    &:before {
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $error;
      width: 0;
      height: 0;
      position: absolute;
      top: -5px;
      left: 5px;
    }
  }

  // Wide from group
  .form-group.wide {
    label {
      float: none;
      width: 100%;
      text-align: left;
    }
    .controls {
      margin-left: 0;
    }
  }
}

// Stacked form

form.form.stacked {
  .form-group > label {
    float: none;
    text-align: left;
    width: auto;
    padding-top: 0;
  }

  .controls {
    margin-left: 0;
  }

  .form-actions {
    margin-left: 0;
  }
}

// Smaller labels

form.form.small-labels {
  .form-group > label {
    font-size: 12px;
    color: $gray-medium;
    font-weight: 400;
  }
}

.datepicker table tr td.today.active {
  color: #fff !important;
}