@import '_colors';

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 100;

  &.offset {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 14px;
  color: $gray-dark;
  margin-top: 0;
}

strong.dark {
  color: $gray-dark;
  // font-weight: normal;
}

@mixin font0 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

@mixin font1() {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: $primary1;

  &:hover {
    color: $primary1;
    text-decoration: none;
  }
}