@import '_colors';

@font-face {
    font-family: 'Raleway';
    src: asset-url('raleway-extralight-webfont.eot');
    src: asset-url('raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('raleway-extralight-webfont.woff') format('woff'),
         asset-url('raleway-extralight-webfont.ttf') format('truetype'),
         asset-url('raleway-extralight-webfont.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 400;

  &.offset {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 14px;
  color: $gray-dark;
  margin-top: 0;

  &.offset {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

strong.dark {
  color: $gray-dark;
  // font-weight: normal;
}

@mixin font0 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

@mixin font1() {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

@mixin link() {
  color: $primary1;

  &:hover {
    color: $primary1;
    text-decoration: none;
  }

  &.highlight {
    color: $primary1;
  }
}

a {
  @include link();
}