@import '_mixins';
@import 'twitter/bootstrap/_mixins';

.well {
  @include border-radius(0);
  @include box-shadow(none);
  border: none;
}

.panel-info {
  border: none;
  @include box-shadow(none);
  > .panel-heading {
    background: transparent;
    border: none;
  }
}