@import '_mixins';
@import 'twitter/bootstrap/_mixins';
@import '_colors';

.well {
  @include border-radius(0);
  @include box-shadow(none);
  border: 1px solid $gray-medium-light;
  background: transparent;
}

.panel-info {
  border: none;
  @include box-shadow(none);
  > .panel-heading {
    background: transparent;
    border: none;
    color: $primary1;
  }
}

.alert {
  @include border-radius(3px);

  &.alert-warning {
    color: #fff;
    background: $warning;
    border: none;
  }

  .btn {
    color: #fff;
    border: 1px solid #fff;
    margin-top: -7px;
  }
}