/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.navbar {
  padding-top: 20px;
  background-color: rgba(44, 62, 80, 0.95);
  color: #ecf0f1;
}

.upcase {
  text-transform: uppercase;
  font-weight: 700;
}

.btn.reserve {
  background-color: #16a085;
  font-weight: bold;
  border: 1px solid #16a085;
}

.jumbotron {
  background-color: #bdc3c7;
}

.jumbotron.front-page {
  margin-top: 18px;
  color: #ecf0f1;
  background: url(/assets/images/banner-image-large.jpg) top left no-repeat;
  height: 650px;
  box-shadow: inset 0 10px 20px -10px #000;
  border-radius: 0;
}
.jumbotron.front-page h1, .jumbotron.front-page p {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.jumbotron h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30pt;
}

.completion {
  background-color: #222;
  color: #ecf0f1;
}

.thats-it {
  font-family: 'Love Ya Like A Sister', cursive;
}
.row.calculate {
  font-size: 220%;
}
span.times {
  font-size: 150%;
}
span.equals {
  font-size: 150%;
}
span.dollar {
  float: right;
}


/* Editable content */
@-webkit-keyframes EDIT-ME {
  from {
    background-color: inherit;
    border-bottom: inherit;
    padding: inherit;
  }
  to {
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.15);
    padding: 5px 15px;
  }
}

@-webkit-keyframes UN-EDIT-ME {
  from {
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.15);
    padding: 5px 15px;
  }
  to {
    background-color: inherit;
    border-bottom: inherit;
    padding: inherit;
  }
}

.editable.edit-ready {
  -webkit-animation: UN-EDIT-ME 0.05s ease-in-out 0 1;
}

.editable.edit-ready:hover, .editable.editing {
  -webkit-animation: EDIT-ME 0.1s ease-in-out 0 1;
  background-color: rgba(0,0,0,0.1);
  border-bottom: 2px solid rgba(0,0,0,0.15);
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.editable.editing {
  display: inline-block;
}

.editable .glyphicon {
  display: inline-block;
  font-size: 70%;
  padding-left: 10px;
  animation: UN-COLOR-IT-GREEN 0.2s ease-in-out 0 1;
  -webkit-animation: UN-COLOR-IT-GREEN 0.2s ease-in-out 0 1;
}

@-webkit-keyframes COLOR-IT-GREEN {
  from { color: inherit; }
  to { color: #16a085; }
}
@-webkit-keyframes UN-COLOR-IT-GREEN {
  from { color: #16a085; }
  to { color: inherit; }
}
@keyframes COLOR-IT-GREEN {
  from { color: inherit; }
  to { color: #16a085; }
}
@keyframes UN-COLOR-IT-GREEN {
  from { color: #16a085; }
  to { color: inherit; }
}

.editable .glyphicon:hover {
  animation: COLOR-IT-GREEN 0.2s ease-in-out 0 1;
  -webkit-animation: COLOR-IT-GREEN 0.2s ease-in-out 0 1;
  color: #16a085;
}

.editable .glyphicon-pencil {
  display:none;
}

.editable:hover .glyphicon-pencil {
  display: inline-block;
}

.editable .control-group, .editable .controls {
  display: inline;
}

.editable .workshop-input {
  width: auto;
  display: inline-block;
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 2px dashed rgba(0,0,0,0.25);
  font-size: inherit;
  padding: 0;
  margin: 0;
  margin-top: -10px;
}

.editable textarea.workshop-input {
  height: auto;
  border: none;
  padding: 15px 0;
  width: 600px;
}

.editable .text + .glyphicon-ok {
  font-size: 200%;
}

.form-element {
  line-height: 1.4;
  margin-bottom: 10px;
}

.editable label {
  margin-bottom: 0;
}

.editable .workshop-input input[type=text] {
  text-align: right;
}

.editable.edit-ready .glyphicon-ok,
.editable.edit-ready .workshop-input {
  display: none;
}

.editable.editing .glyphicon-pencil,
.editable.editing .content, .editable.editing label {
  display: none;
}

.workshop-tagline label {
  font-weight: normal;
}
