@import '_colors';
@import 'twitter/bootstrap/_mixins';

.new-course {
  .sidebar {
    border-right: 1px solid $gray-light;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

ul.course-progress {
  list-style: none;
  padding: 0 15px 0 0;
  text-align: right;

  li {
    margin-bottom: 15px;
    a {
      color: $gray-medium;
      font-weight: 500;
      font-size: 14px;
    }
  }

  li.active, li.active a {
    font-weight: 500;
    color: $primary1;
  }
}

ul.course-progress.horizontal {
  padding-left: 115px;
  margin-top: 20px;
  margin-bottom: 20px;
  @include clearfix();
  li {
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
  }
  &.step-pricing {
    padding-left: 0;
  }
}

.form-wrapper {
  margin-top: 50px;
}

form.step-pricing, form.step-page {
  max-width: 800px;

  .form-actions {
    margin: 0;
  }
}

.course-pricing {
  margin-top: 20px;

  table label.control-label {
    float: none;
    text-align: left;
    width: auto;
  }
}

.form-group.url {
  .url-label {
    font-weight: 500;
    color: $primary1;
    padding-top: 7px;
    font-size: 13px;
  }

  .url-input {
  }

  input {
    color: $primary1;
    font-size: 13px !important;
  }
}