@import 'bootstrap/mixins';
@import '_colors';
@import '_mixins';

ul.course-list {
  $border-color: $gray-medium-light;
  background: #fff;

  list-style: none;
  padding: 0;
  border: 1px solid $border-color;
  @include border-radius(3px);
  margin-bottom: 30px;

  strong {
    font-weight: 500;
  }

  li {
    @include clearfix();
    border-bottom: 1px solid $border-color;
    padding: 10px 25px;
    
    &:not(.header) {
      cursor: pointer;
    }

    &:not(.header):hover {
      background: #fafafa;
    }

    .actions {
      float: right;
      margin-top: -1px;
      padding-top: 8px;
    }

    em {
      font-style: normal;
      padding-left: 20px;
      color: $gray-medium;
      font-size: 13px;
    }
  }

  li.header {
    color: $gray-medium;
    border-bottom: 1px solid $border-color;
    padding-top: 17px;
    padding-bottom: 15px;

    a, strong {
      text-transform: uppercase;
      font-size: 12px;
    }


    .actions {
      padding-top: 0;
    }
  }

  li.empty {
    text-align: center;
    color: $gray-medium;
  }

  li:last-child {
    padding-bottom: 20px;
  }


}