@import '_colors';

.course-review {
  padding-top: 40px;

  table.course-details {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    th, td {
    }

    th {
      text-align: right;
      width: 50%;
      padding-right: 10px;
      color: $gray-medium;
      font-weight: normal;
    }

    td {
      text-align: left;
      width: 50%;
      padding-left: 10px;
      font-weight: 500;
    }
  }

  .actions {
    margin-top: 20px;

    a {
      display: block;
      width: 150px;
      margin: auto;
      margin-bottom: 10px;
    }
  }
}