@import '_mixins';

.course-header {
  height: 188px;
  @include retina('images/hero-default', 'jpg', 844px, 188px);
  position: relative;

  .course-title {
    background: #fff;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0,0,0,0.1);
    // border-top: 1px solid rgba(255, 255, 255, 0.15);
    h2 {
      margin: 0;
      font-weight: 300;
    }

    h3 {
      margin: 0;
      margin-top: 5px;
      font-weight: 300;
      font-size: 14px;
    }

    .course-info {
      float: right;
      width: 240px;
      margin-left: 15px;
      border-left: 1px solid rgba(255, 255, 255, 0.15);
      padding-left: 15px;

      .location, .date, .price {
        display: block;
        font-style: normal;
        text-align: right;
      }

      .location {
        margin-top: 15px;
      }

      .price {
        float: right;
        font-size: 40px;
        font-weight: 400;
        margin-top: 5px;
      }
    }
  }
}

.course-content {
  padding-top: 20px;
}