@import 'layout_design';
@import '_colors';
@import 'twitter/bootstrap/mixins';

$sidebar-width: 200px;

body.dashboard {
  @include body-width(100%);
  .container {
    width: 100%;
  }
}

.container.dashboard {
  $padding: 30px;
  padding: $padding;
  padding-left: $sidebar-width + $padding;

  .dashboard-sidebar {
    background: $primary1;
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 50px;
    bottom: 0;
    width: $sidebar-width;
    border-top: 1px solid $primary1-hilight;

    h2 {
      margin: 0;
    }
  }

  .secondary-sidebar {
    border-left: 1px solid $gray-light;
    width: 200px;
  }
}

ul.dashboard-menu {
  padding: 0;
  list-style: none;

  li {
    border-bottom: 1px solid $primary1-hilight;
    &, h2, a {
      color: #fff;
      font-size: 12px;
    }
    h2, > a {
      display: block;
      padding: 15px 15px;
    }
    a {
      text-decoration: none;
      font-weight: 500;
    }

    &.active {
      background: #fff;
      &, a {
        color: $text1;
      }
    }
  }
}

// Stats

.dashboard-stats {
  @include clearfix();
  .stat {
    float: left;
    margin-right: 30px;
    strong, small {
      display: inline-block;
    }
    strong {
      color: $primary1-hilight;
      font-size: 42px;
      font-weight: 400;
      margin-top: 5px;
    }
    small {
      color: $gray-medium;
      text-transform: uppercase;
      margin-left: 10px;
      em {
        font-style: normal;
        color: $gray-medium-dark;
      }
    }
  }
}

.share-buttons {
  padding-top: 13px;
  a.social {
    padding: 10px 14px;
    i {
      font-size: 20px;
    }
  }

}

// Events

.event-list {
  h3 {
    color: $gray-medium;
    font-size: 13px;
    float: left;
    width: 100px;
    margin-top: 0;
    font-weight: 400;
    padding-top: 4px;
  }
  ul {
    padding: 0;
    margin-left: 100px;
    list-style: none;
  }
}