/* Editable content */
@-webkit-keyframes EDIT-ME {
  from {
    background-color: inherit;
    border-bottom: inherit;
    padding: inherit;
  }
  to {
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.15);
    padding: 5px 15px;
  }
}

@-webkit-keyframes UN-EDIT-ME {
  from {
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.15);
    padding: 5px 15px;
  }
  to {
    background-color: inherit;
    border-bottom: inherit;
    padding: inherit;
  }
}

@-webkit-keyframes COLOR-IT-GREEN {
  from { color: inherit; }
  to { color: #16a085; }
}

@-webkit-keyframes UN-COLOR-IT-GREEN {
  from { color: #16a085; }
  to { color: inherit; }
}

@keyframes COLOR-IT-GREEN {
  from { color: inherit; }
  to { color: #16a085; }
}

@keyframes UN-COLOR-IT-GREEN {
  from { color: #16a085; }
  to { color: inherit; }
}

.editable {
  &.edit-ready {
    -webkit-animation: UN-EDIT-ME 0.05s ease-in-out 0 1;
  }

  &.edit-ready:hover, &.editing {
    -webkit-animation: EDIT-ME 0.1s ease-in-out 0 1;
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
  }

  &.editable {
    display: inline-block;
  }

  .glyphicon {
    display: inline-block;
    font-size: 70%;
    padding-left: 10px;
    animation: UN-COLOR-IT-GREEN 0.2s ease-in-out 0 1;
    -webkit-animation: UN-COLOR-IT-GREEN 0.2s ease-in-out 0 1;

    &:hover {
      animation: COLOR-IT-GREEN 0.2s ease-in-out 0 1;
      -webkit-animation: COLOR-IT-GREEN 0.2s ease-in-out 0 1;
      color: #16a085;
    }
  }

  .glyphicon-pencil {
    display:none;
  }

  &:hover .glyphicon-pencil {
    display: inline-block;
  }

  &.edit-ready .glyphicon-ok, &.edit-ready .workshop-input {
    display: none;
  }

  &.editing .glyphicon-pencil, &.editing .content, &.editing label {
    display: none;
  }

  .control-group, .controls {
    display: inline;
  }

  .workshop-input {
    width: auto;
    display: inline-block;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 2px dashed rgba(0,0,0,0.25);
    font-size: inherit;
    padding: 0;
    margin: 0;
    margin-top: -10px;
  }

  textarea.workshop-input {
    height: auto;
    border: none;
    padding: 15px 0;
    width: 600px;
  }

  .text + .glyphicon-ok {
    font-size: 200%;
  }

  label {
    margin-bottom: 0;
  }

  .workshop-input input[type=text] {
    text-align: right;
  }
}

.form-element {
  line-height: 1.4;
  margin-bottom: 10px;

  .date-and-time {
    input {
      display: none;
    }
  }
}

.workshop-tagline label {
  font-weight: normal;
}

address {
  .form-element {
    margin-bottom: 3px;
  }

  label {
    font-weight: normal;
  }
}
