.form-element {
  line-height: 1.4;
  margin-bottom: 10px;

  .date-and-time {
    input {
      display: none;
    }
  }
}

address {
  .form-element {
    margin-bottom: 3px;
  }

  label {
    font-weight: normal;
  }
}
