/* Editable content */
@-webkit-keyframes EDIT-ME {
  from {
    background-color: inherit;
    border-bottom: inherit;
    padding: inherit;
  }
  to {
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.15);
    padding: 5px 15px;
  }
}

@-webkit-keyframes UN-EDIT-ME {
  from {
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid rgba(0,0,0,0.15);
    padding: 5px 15px;
  }
  to {
    background-color: inherit;
    border-bottom: inherit;
    padding: inherit;
  }
}

@-webkit-keyframes COLOR-IT-GREEN {
  from { color: inherit; }
  to { color: #16a085; }
}

@-webkit-keyframes UN-COLOR-IT-GREEN {
  from { color: #16a085; }
  to { color: inherit; }
}

@keyframes COLOR-IT-GREEN {
  from { color: inherit; }
  to { color: #16a085; }
}

@keyframes UN-COLOR-IT-GREEN {
  from { color: #16a085; }
  to { color: inherit; }
}


form.new_course {
  input::-webkit-input-placeholder { color: #000; }
  input:-moz-input-placeholder { color: #000; }

  .has-error {
    input[type="text"], textarea {
      border: 1px solid #b94a48;
    }

    .help-block, .help-inline {
      color: red;
      font-size: 12px;
      font-weight: normal;
    }
  }

  input[type="text"], textarea {
    background: none;
    border: none;
    height: auto;
    color: #333;

    &:hover, &:focus {
      border: 1px #ccc;
      background: #eee;
    }
  }

  .text-right {
    input {
      text-align: right;
      font-size: 21px;

      &:hover, &:focus {
        background: #fff;
        border: 1px #ccc;
      }
    }
  }

  #course_name {
    font-size: 30pt;
    font-weight: bold;
  }

  #course_course_starts_at {
    font-weight: bold;
  }
}

address {
  .form-group {
    display: inline-block;
  }

  .form-element {
    margin-bottom: 3px;
  }

  label {
    font-weight: normal;
  }

  input {
    display: inline-block;
    width: 400px;
  }

  .multi input {
    width: 120px;
  }
}
