@import '_mixins';
@import '_typo';
@import '_colors';
@import 'bootstrap/mixins';
@import 'layout_design';

$course-header: $welcome-color;

body.landing-page, div.landing-page-preview {
  background: #eaebec;

  nav.navbar {
    background: transparent;
    // background: rgba(255,255,255,0.15);
    border-bottom: 1px solid rgba(255,255,255,0.2);

    a.navbar-brand {
      // @include retina('logo-header', 'png', 70px, 16px);
      @include retina('welcome-logo', 'png', 71px, 16px);
    }

    .navbar-inner {
      color: $course-header;
      a.navbar-btn {
        background: transparent;
        color: $course-header;

        .caret {
          border-top-color: $course-header;
          border-bottom-color: $course-header;
        }
      }
    }
  }
}

.container.landing-page {
  background: #fff;
  border-left: 1px solid #dcdee0;
  border-right: 1px solid #dcdee0;

  @media (min-width: 850px) {
    width: 850px !important;
  }

  nav.navbar {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.course-header {
  .course-title {
    width: 100%;
    padding-top: 20px;
    color: $course-header;

    h2 {
      text-align: center;
      font-size: 50px;
      color: $course-header;
      @include font1();
      font-weight: 100;

      a {
        color: $course-header;
        &:hover {
          text-decoration: none;
        }
      }
    }

    em { // Date and location
      font-style: normal;
      display: block;
      font-weight: 200;

      i {
        font-size: 18px;
        -webkit-font-smoothing: antialiased;
      }

      &.location {
        text-align: right;
      }
    }

    h3 {
      margin: 0;
      margin-top: 5px;
      font-weight: 300;
      font-size: 14px;
    }
  }
}

.course-content {
  margin-top: 10px;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 80px;
  background: #fff;

  position: relative;
  a.draft-ribbon {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -2px;
    left: -2px;
    @include retina('draft', 'png', 80px, 80px);
  }

  h1:not(.centered) {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    // color: $primary1;
  }

  h1.main {
    font-weight: 100;
    color: $primary1;
    font-size: 36px;
    margin-top: 7px;
  }

  p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 200;
    font-size: 14px;
    // color: $gray-medium-dark;
  }
}

.course-cover-image {
  height: 192px;
  margin-left: -35px;
  margin-right: -35px;
  margin-top: -40px;
  margin-bottom: 30px;

  background-size: cover;
}

.course-sidebar {
  padding: 0 0px;
  padding-top: 10px;

  a.btn.btn-large {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.landing-button {
  $width: 170px;
  $color1: #cf0000;
  $color2: #ae0000;
  width: $width;
  position: absolute;
  position: fixed;
  z-index: 1500;
  top: 20px;
  left: 50%;
  margin-left: -$width/2;
  border: 1px solid darken($color1, 10);
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 0;
  cursor: pointer;
  margin-top: -5px;

  &.exit {
    background: $color1;
  }

  &.dashboard {
    background: #f35e24;
    border: none;

    &:active {
      background: darken(#f35e24, 10);
      border: none;
    }
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:active {
    background: darken($color1, 2);
  }
}

// Crazy animations

body {
  // -webkit-perspective-origin-x: 50%;
  // -webkit-perspective-origin-y: 0px;
}

.viewport-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: transparent;
  // pointer-events: none;
  overflow: hidden;
  display: none;
}

html {
  .viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: block;
    overflow: scroll;

    &.preview {
      &.offscreen {
        display: none;
      }
    }
  }
}

html.cssanimations.csstransforms {
  .viewport {
    &.preview {
      @include transition-transform(0.25s);
      @include translate(0, 45px);
      display: block;
      &.offscreen {
        display: block;
        @include translate(0, 100%);
      }
    }
  }
}


// Statistics

.course-stats {
  strong, small {
    display: block;
    text-align: center;
  }

  strong {
    color: $primary1-hilight;
    font-weight: 500;
    font-size: 22px;
  }

  small {
    text-transform: uppercase;
    // color: $gray-medium-dark;
    color: $primary1-hilight2;
  }
}

// Schedule table

table.schedule {
  margin: auto;
  th {
    font-size: 13px;
    font-weight: 600;
  }
  td {
    font-size: 13px;
    padding-top: 2px;
    padding-left: 12px;
  }
}

// Sidebar huge icons

div.sidebar-large-icon {
  display: block;
  text-align: center;
  font-size: 36px;
  padding-bottom: 5px;
  color: $gray-medium-light;
}

.sidebar-location strong {
  font-weight: 500;
}

img.instructor-avatar {
  @include border-radius(50%);
}

// Successfuly enrolled

div.enrolled {
  text-align: center;
  padding-bottom: 100px;
}