@import '_mixins';
@import '_colors';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

$padding: 20px;
$layout-width: 850px;

@mixin body-width($width) {
  .navbar-inner {
    max-width: $width;
  }
  .container {
    max-width: $width;
  }
  .alert {
    max-width: $width;
  }
}

body {
  @include body-width($layout-width);
}

// Nav Bar
// ----------------------------------------------------------------------------

nav.navbar {
  @include retina('header-background', 'png', 1px, 45px);
  background-repeat: repeat-x;
  border: none;
  margin-bottom: 0;
  height: 45px;
  min-height: 45px;
  .navbar-inner {
    padding-left: $padding;
    padding-right: $padding;
    margin: auto;
    // Buttons in the navbar
    a.navbar-btn {
      color: #fff;
      font-size: 10pt;
      background-color: rgba(0,0,0,0.05);
      padding: 3px 7px;
      @include border-radius(3px);
      margin-left: 10px;
      margin-top: 0;
      border: none;
      display: inline-block;
      &.user-dropdown {
        margin-top: 8px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    // Dropdowns in the navbar
    a.user-dropdown {
      padding: 0;
      padding-right: 10px;
      margin-bottom: 0;
      span {
        position: relative;
        top: 1px;
      }
    }
    // Button for responsive toggle
    button.navbar-toggle {
      padding: 10px 10px;
      margin-right: 0;
      &:focus {
        outline: none;
      }
    }
    .navbar-collapse {
      border: none;
    }
    // Logo
    a.navbar-brand {
      @include retina('logo-header', 'png', 70px, 16px);
      background-position: 0 6px;
      background-repeat: no-repeat;
      display: block;
      width: 100px;
      height: 30px;
      margin-top: 10px;
      text-indent: -9999px;
    }
  }
}

// Responsive navigation
// ----------------------------------------------------------------------------

ul.navbar-nav {
    float: right;
}

.navbar-collapse.in, .navbar-collapse.collapsing {
  ul.navbar-nav {
    float: none;
    clear: both;
    text-align: center;
    margin-bottom: 15px;

    a:not([class=navbar-brand]) {
      // padding: 10px;
    }
  }
}

// Container
// ----------------------------------------------------------------------------

.container {
  // padding-left: $padding;
  // padding-right: $padding;
  box-sizing: border-box;
  margin-bottom: 50px;
  @include border-radius(0 0 5px 5px);
  @include box-shadow(0 2px 10px rgba(0,0,0,0.1));
}

#footer {
  height: 50px;
}