@import 'colors';

$montserrat-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  padding-top: 70px;
}

/* Sign Up Toggle Form */

.btn-navbar.btn-log-in,
.btn-navbar.btn-sign-up {
  background-color: lighten($dark-gray, 3%);

  &:hover {
    background-color: $light-blue;
  }

  &:active {
    background-color: $dark-blue;
  }

  &.collapsed {
    background-color: transparent;

    &:hover {
      background-color: $light-blue;
    }

    &:active {
      background-color: $dark-blue;
    }
  }
}

#log-in,
#sign-up {
  background-color: lighten($dark-gray, 3%);
  color: #fff;

  > .container {
    padding: 16px 0;
  }
}

.upcase {
  text-transform: uppercase;
  font-weight: 700;
}

.jumbotron {
}

.jumbotron.front-page {
  text-align: center;
}

.jumbotron.front-page h1.logo {
  font-size: 135px;
  text-transform: none;
  letter-spacing: -8px;
  margin: 0 auto 24px;
}

.jumbotron.front-page p + p {
  line-height: 0.8em;
  margin-bottom: 2em;
}

.jumbotron h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30pt;
}

.manage-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 60px;
  width: 240px;

  .panel {

    .panel-heading {
      padding: 20px;
      margin: -15px;

      .progress {
        height: 20px;
        margin-bottom: 2px;

        .progress-bar {
          background-color: lighten($light-green, 5%);
        }
      }

      .funded-label {
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        line-height: 10px;
        margin-bottom: 10px;
      }

      .status-strip {
        border-top: 1px solid $dark-border;
        margin-right: -20px;
        margin-left: -20px;
        margin-bottom: -10px;
        padding: 5px 10px 0;

        .col-4 {
          padding-right: 5px;
          padding-left: 5px;
        }
      }

      .quantity {
        font-weight: 400;
        font-family: $montserrat-family;
        margin-bottom: -5px;
      }
      .status-label {
        font-size: 10px;
        text-transform: uppercase;
        font-family: $montserrat-family;
      }

    }
  }
}

.manage-content {
  margin-left: 255px;
}

#course-dropdown {
  .navbar-btn {
    text-align: left;
    vertical-align: middle;
    padding: 2px 12px;

    .course-info + .caret {
      margin-bottom: 15px;
    }
  }

  .course-info {
    text-align: left;
    display: inline-block;

    .course-title {
      margin-bottom: -3px;
    }

    .course-date {
      font-size: 85%;
    }
  }
}

#settings-menu {
  .navbar-btn {
    padding: 0px 12px 0 0;
  }
}
