@import '_colors';
@import '_mixins';

// Form

.form-group.card-month select {
  margin-top: 8px;
}

form#new_reservation {
  .hint {
    color: $gray-medium;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
  }

  .form-actions {
    // padding-top: 15px;
  }

  .spinner {
    margin-left: 20px;
    margin-top: 23px;
  }
}

.card-error-message {
  background: $error;
  color: #fff;
  display: none;
  padding: 10px 15px;
  margin-bottom: 5px;
  @include border-radius(3px);
  position: relative;

  &:before {
    content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $error;
      width: 0;
      height: 0;
      position: absolute;
      bottom: -5px;
      left: 15px;
  }
}

input#reservation_card_number {
  @include retina('payment-card', 'png', 16px, 16px);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 35px;
}

input#reservation_card_code {
  @include retina('payment-lock', 'png', 16px, 16px);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 35px;
}

.powered-stripe {
  display: block;
  margin-top: 10px;
}

// Welcome page

.welcome-to-course {
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 50px;
  }
}

