@import '_colors';
@import '_mixins';

a.social {
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  background: $gray-medium;
  @include border-radius(3px);

  &:hover {
    color: #fff;
  }

  &.twitter {
    background: #1daeeb;
  }

  &.facebook {
    background: #4862a3;
  }

  &.rounded {
    @include border-radius(50%);
    padding: 3px 5px;
    background: $gray-light;

    &.twitter:hover {
      background: #1daeeb;
    }

    &.facebook:hover {
      background: #4862a3;
    }

    i {
      font-size: 22px;
      position: relative;
      left: 2px;
    }
  }
}

div.social-url {
  small {
    display: block;
    color: $dark-gray;
    font-size: 8pt;
  }

  input {
    width: 100%;
    padding: 5px 5px;
  }
}