.form-section
  - for date, events in @events
    %h5= activity_date_format(date)
    %ul.list.activity
      - for event in events
        %li{:class => event.event_type}
          = icon_for_event_type(event.event_type)
          = event