- if @course.draft?
  .alert.alert-warning
    %a.btn.pull-right{href: review_dashboard_course_path(@course)} Publish
    %div
      %i.icon.icon-pencil
      Course is in the draft mode. Edit the course and publish it when you're ready.