.dashboard-sidebar
  %ul.dashboard-menu
    %li
      %h2
        %a{:href => courses_path}
          %i.icon-circled-left
        = @course.name
    %li{:class => action_name == 'show' ? 'active' : ''}
      %a{:href => '#'}
        %i.icon-line-graph
        Dashboard
    %li{:class => action_name == 'edit' ? 'active' : ''}
      %a{:href => edit_dashboard_course_path(course)}
        %i.icon-tools
        Settings
    %li
      %a{:href => '#'}
        %i.icon-browser
        Landing page
    %li
      %a{:href => '#'}
        %i.icon-download
        Resources
    %li
      %a{:href => '#'}
        %i.icon-users
        Students