- if @course.draft?
  .alert.alert-warning
    %i.icon.icon-pencil
    Course is in draft mode. You may edit the course's settings. When you're ready, publish to allow students to enroll.

    %a.btn.pull-right{href: review_dashboard_course_path(@course)} Publish