.header.row
  .col-sm-9
    .pull-left
      %a.back-button{href: courses_path}
        %i.icon-reply

    .title.clearfix.pull-left
      %h1.pull-left= @course.name
      - if @course.draft?
        .pull-left.draft Draft

      - if @course.url
        %a.link{href: landing_page_url(@course.url), target: '_blank'}= landing_page_url(@course.url)

  .col-sm-3.numbers
    %a.number
      %strong 5
      %span Students