%ul.tasks
  %li.checked
    %a{href: edit_dashboard_course_path(@course, step: 'details')} Change details
  = dashboard_check_link('Select date', {controller: 'dashboard/courses', action: 'edit', step: 'dates_location'}, false)
  %li
    %a Select location