%h4
  %a.actions{href: '#'}
    Hide
  %div
    %i.icon-feather
    Creating course

%ul.tasks
  = dashboard_check_link_step('Change details', 'details', false)
  = dashboard_check_link_step('Select date', 'dates_location', false)
  = dashboard_check_link_step('Select location', 'dates_location', false)
  = dashboard_check_link_step('Set pricing', 'pricing', false)