.container.dashboard
  = render 'dashboard/dashboard_menu', course: @course

  .row
    .col-sm-8
      = render 'stats'
    .col-sm-4
      %h2 Share
      .share-buttons
        = share_button(:facebook, course_short_url(@course), '<i class="icon-social-s-facebook"></i>'.html_safe)
        = share_button(:twitter, course_short_url(@course), '<i class="icon-social-twitter"></i>'.html_safe)
        %a.social{href: share_dashboard_course_path(@course)}
          %i.icon-link

  %h2 Events