.container.dashboard
  = render 'dashboard/dashboard_menu', course: @course
  
  = simple_form_for(@course, :url => dashboard_landing_page_path(@course.id), :html => {:class => "course-form form disable-submit-on-return step-page"}) do |form|
    = render 'courses/form_page', form: form
    .form-actions
      = form.button(:submit, "Save", class: 'btn btn-primary')