.course-pricing
  %label#for-fun.radio
    %input.radio_buttons.form-control{name: 'pricing', type: 'radio'}
    Free
  %label#for-profit.radio
    %input.radio_buttons.form-control{name: 'pricing', type: 'radio'}
    Paid

  %input#course_price_per_seat_in_dollars