.course-pricing
  %small
    .btn-group{"data-toggle" => "buttons"}
      %label#for-profit.btn.btn-info.active
        %input#for-profit{name: "options", type: "radio"}/
        Paid
      %label#for-fun.btn.btn-info
        %input#for-fun{name: "options", type: "radio"}/
        Free

  %input#course_price_per_seat_in_dollars