---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2014&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_xlf81Tc7EFDDps6VCBue3N2d
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_2jcE7EBlOSyqfz",
          "livemode": false,
          "created": 1381509743,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_2jcEAd8jsivFkq",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 10,
            "exp_year": 2014,
            "fingerprint": "FNS1LTkNkYeLDNsM",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Fri, 11 Oct 2013 16:42:24 GMT
recorded_with: VCR 2.6.0
