%nav.navbar.navbar-static-top.navbar-inverse
  .navbar-inner
    .navbar-header
      = link_to "enroll", @logo ? '' : root_path, class: 'navbar-brand', style: logo_style(@logo)

    - if !@preview
      .clearfix
        - if user_signed_in?
          /= render 'layouts/course_chooser'
          = render 'layouts/settings_menu'
        - else
          - if @logo
            %ul#sign-up-or-in.nav.navbar-nav
              %li
                %a.navbar-btn.btn-log-in{href: new_user_session_path}
                  Using Enroll?
                  %u Log In
          - else
            %ul#sign-up-or-in.nav.navbar-nav
              %li
                %a.navbar-btn.btn-log-in{href: new_user_session_path}
                  Log In
              %li
                %a.navbar-btn.btn-sign-up{href: new_user_registration_path}
                  Sign Up