%header.navbar.navbar-fixed-top.navbar-inverse
  %nav.navbar-inner
    .container-fluid
      = link_to "enroll", root_path, :class => 'navbar-brand'
      - if user_signed_in?
        = render 'layouts/course_chooser'
        = render 'layouts/settings_menu'
      - else
        %ul#sign-up-or-in.nav.navbar-nav.pull-right
          %li
            %a.btn-log-in{href: '#sign-up-or-in', "data-toggle" => "collapse", "data-target" => "#log-in"}
              Log In
          %li
            %a.btn-sign-up{href: '#sign-up-or-in', "data-toggle" => "collapse", "data-target" => "#sign-up"}
              Sign Up
