- if instructor_signed_in?
  .btn-group.pull-right
    %button.btn.btn-navbar.dropdown-toggle.pull-right{"data-toggle" => "dropdown"}
      %img.img-rounded{src: "/assets/images/profile-default-small.jpg"}
      %span.title
        = current_instructor.display_title
      %span.caret
    %ul.dropdown-menu{role: "menu"}
      %li
        %a{href: "#"}
          %span.glyphicon.glyphicon-usd
          %span Payment Settings
      %li
        %a{href: "#"}
          %span.glyphicon.glyphicon-user
          Personal Info
      %li
        %a{href: destroy_instructor_session_path, "data-method" => "delete", rel: "nofollow"}
          %span.glyphicon.glyphicon-remove
          Logout
