<!DOCTYPE html>
<html lang="en">
<head>
  <title>WorkshopPlatform</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <p class="text-right">
        <a href="#try" class="btn btn-primary">Try it out!</a>
      </p>
    </div>
  </div>
</div>


<div class="container">
  <%= yield %>
</div>

</body>
</html>
