.manage-sidebar
  .panel.panel-default
    .panel-heading
      Account Settings
    .list-group
      %a.list-group-item{href: "#"}
        %span.glyphicon.glyphicon-usd
        %span.badge
        Payment Settings
      %a.list-group-item{href: edit_account_path, class: current_page?(edit_account_path) ? "active" : ""}
        %span.glyphicon.glyphicon-user
        Personal Details
